black==25.1.0
click==8.1.8
contourpy==1.2.0
cycler==0.12.1
fonttools==4.48.1
kiwisolver==1.4.5
matplotlib==3.8.2
mypy-extensions==1.0.0
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.3.6
pyparsing==3.1.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
python-dateutil==2.8.2
pytz==2025.1
six==1.16.0
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
